/* src/pages/IniciarSesion.css */
.login-container {
    background-color: white; /* Fondo blanco */
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: 'Gloock', serif; /* Tipografía única */
    letter-spacing: 1.5px;
}

.header-logo {
    width: 150px;
    height: auto;
    max-width: 100%;
}



.blue-header {
    background-color: #1E3766; /* Azul oscuro */
    color: white;
    padding: 20px;
    width: 100%;
}

.login-box {
    background-color: #D3EDFF; /* Azul claro */
    width: 90%;
    max-width: 1000px;
    margin: 60px auto;
    padding: 180px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
}

.login-title {
    font-size: 2.5rem;
    margin: 0 0 10px 0;
}

.login-subtitle {
    font-size: 3rem;
    margin-bottom: 30px;
    text-align: center;
}

.login-form {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.login-input {
    padding: 12px;
    margin-bottom: 20px;
    border: 2px solid #1E3766;
    border-radius: 5px;
    font-size: 1.1rem;
    font-family: 'Recoleta', serif;
}

.login-input::placeholder {
    text-align: center;
    color: #777777;
    letter-spacing: 1px;
    font-size: 1.5rem;
    font-family: 'Gloock', serif; /* Tipografía única */
    letter-spacing: 1px;
}

.login-btn {
    background-color: #73A31D;
    color: white;
    border: none;
    padding: 15px;
    font-size: 1.3rem;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
    font-family: 'Gloock', serif; /* Tipografía única */
    letter-spacing: 2px;
}

.forgot-link {
    color: #1E3766;
    text-align: center;
    margin-top: 15px;
    text-decoration: none;
    font-size: 1.3rem;
    font-family: 'Gloock', serif; /* Tipografía única */

}