
.campo-pregunta {
    width: 400px;
    padding: 10px;
    border: 2px solid #1e3766;
    border-radius: 5px;
    font-size: 15px;
    outline: none;
    margin-left: 100px;
    }
    
    .texto2{
    margin-left: 100px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    
    }
    
    .texto3{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    text-align: center;
    }
    
    
    .opciones-container {
    display: flex;
    flex-direction: row;
    gap: 20px;
    margin-left: 100px;
    margin-top: 20px;
    gap: 250px;
    }
    
    .contenedor-radio {
    display: flex;
    align-items: center;
    position: relative;
    padding-left: 45px;
    cursor: pointer;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    user-select: none;
    }
    
    
    .radio-original {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
    }
    
    
    .radio-visual {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
    border: 2px solid #1e3766;
    border-radius: 50%; 
    }
    
    
    .contenedor-radio:hover .radio-original ~ .radio-visual {
    background-color: #1e3766;
    }
    
    
    .radio-original:checked ~ .radio-visual {
    background-color: #9ecd49;
    border-color: #1e3766;
    }
    
    
    .radio-visual:after {
    content: "";
    position: absolute;
    display: none;
    }
    
    .radio-original:checked ~ .radio-visual:after {
    display: block;
    }
    
    .contenedor-radio .radio-visual:after {
    top: 8px;
    left: 8px;
    width: 9px;
    height: 9px;
    border-radius: 50%;
    background: white;
    }
    
    .radio-texto {
    margin-left: 10px;
    }
    
    
    .opcion-group {
    display: flex;
    flex-direction: column;
    }
    
    .opciones-abcd {
    margin-top: 15px;
    margin-left: 45px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    }
    
    .opcion-item {
    display: flex;
    align-items: center;
    gap: 10px;
    }
    
    .opcion-letra {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    background-color: #1e3766;
    color: white;
    border-radius: 50%;
    font-weight: bold;
    }
    
    .campo-opcion {
    width: 300px;
    padding: 8px;
    border: 2px solid #1e3766;
    border-radius: 5px;
    font-size: 14px;
    }
    
    .campo-respuesta{
    width: 400px;
    padding: 10px;
    border: 2px solid #1e3766;
    border-radius: 5px;
    font-size: 15px;
    outline: none;
    margin-top: 40px;
    }
    
    
    
    .botones-abajo {
    position: absolute; 
    left: 20px; 
    display: flex;
    flex-direction: row; 
    gap: 1060px;
    bottom: 20px;
    }
    
    .btn-pequeno {
    padding: 8px 16px;
    background: #73A31D; 
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 1.2rem;
    cursor: pointer;
    transition: background 0.3s;
    text-decoration: none;
    }
    
    
    .btn-pequeno:hover {
    background: #5a8a0f; 
    }