

.encuesta-page-container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: #ffffff; 
}

.encuesta-title {
  color: #000000;
  font-family: 'Merriweather', serif;
  font-size: 3rem;
  margin: 30px 0;
  text-align: center;
  width: 100%;
}

.encuesta-options-container {
  display: flex;
  justify-content: center;
  gap: 40px;
  margin: 20px auto;
  width: 90%;
  max-width: 800px;
  padding: 40px;
  background-color: #d3edff;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0,0,0,0.1);
}

.encuesta-column {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  flex: 1;
}

.encuesta-option-title {
  font-family: 'Roboto';
  font-size: 2rem;
  margin-bottom: 20px;
  text-align: center;
  color: #000000;
}

.btn-encuesta {
  background-color: #73A31D;
  padding: 12px 25px;
  width: 200px;
}

.btn-salir {
  background-color: #73A31D;
  width: 250px;
  margin: 30px auto;
}

/* Media Queries para responsividad */
@media (max-width: 768px) {
  .encuesta-options-container {
    flex-direction: column;
    gap: 20px;
    padding: 20px;
  }
  
  .encuesta-title {
    font-size: 2.5rem;
  }
  
  .encuesta-option-title {
    font-size: 1.8rem;
  }
}

@media (max-width: 576px) {
  .encuesta-title {
    font-size: 2rem;
  }
  
  .encuesta-option-title {
    font-size: 1.5rem;
  }
  
  .btn-encuesta, .btn-salir {
    width: 180px;
    font-size: 1rem;
  }
}